@charset "utf-8";

/*
    The Semicolons Fan Page - 1.0
    This website was built with love.
    Mobile first.
*/


/*
    Globals
*/

body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: url('../images/bg-01.jpg') top center no-repeat;
    background-size: cover;
}

/* this might be already part of bootstrap */
* {
    box-sizing: border-box;
}


/*
    Typography
*/

h1 {
    font: bold 48px/100% "Playfair Display", Georgia, serif;
    padding: 0 0 16px;
}

h2 {
    font: normal 28px/100% "Lato", sans-serif;
    padding: 0 0 8px;
}

h3 {
    font: bold 28px/100% "Playfair Display", Georgia, serif;
    padding: 0 0 4px;
}

h4 {
    font: bold 14px/100% "Lato", sans-serif;
    padding: 0 0 16px;
    text-transform: uppercase;
    opacity: 0.65;
}

p {
    font: normal 16px/144% "Lato", sans-serif;
}

p.large {
    font-size: 28px;
    font-weight: 600;
    line-height: 155%;
}

p.song {
    font: bold 28px/100% "Playfair Display", Georgia, serif;
    text-align: center;
}

p.song span {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
}

header.main h1, header.main h2 {
    text-align: right;
    margin: 0;
    color: white;
}

header.main h3, header.main p {
    text-align: left;
    color: white;
}

article.block h2 {
    font-family: "Playfair Display", serif;
    /*color: #fb8498;*/
    text-align: center;
    padding: 0 0 16px;
}



/*
    Layout
*/

/* Hold everything */
.wrapper {
    position: relative;
    width: 94%;
    margin: 0 0 0 auto;
}

/* The main header/banner */
header.main {
    background: url('../images/band-photo-b.jpg') top center no-repeat;
    background-size: cover;
    padding: 48px 48px 56px;
}

/* Extending bootstrap styling a bit */
.navbar {
    border-radius: 4px;
    box-shadow: 0px 5px 24px -5px rgba(0,0,0,0.4);
}

/* Add some spacing/alignment to heading groups within main header */
header.main hgroup {
    padding: 32px 0;
}

/* Add some spacing/alignment to button groups within main header */
header.main section.button-group {
    text-align: right;
    padding: 0 0 16px;
}

/* Main content */
main.main {
    background: white;
    padding: 0;
}

/* General styles for a block of content */
/* Spacing and dimensions */
article.block {
    position: relative;
    padding: 48px 32px;
    margin: 0 auto;
    max-width: 800px;
}

/* Extending blocks with some specific styling */
.block__wrapper {
    position: relative;
    z-index: 10;
    width: 105%;
    margin-left: -5%;
    box-shadow: 0px 0px 44px rgba(0,0,0,0.33);
}
.block--orange {
    background: #f2a672;
}

/* Main footer */
footer.main {
    padding: 32px;
    color: white;
    text-align: center;
}

/* Extending bootstrap list styles */
.list-group {
    padding: 0 0 16px;
}

/* Media */
figure.fun {
    position: relative;
    width: 100%;
    z-index: 3;
    margin: 16px auto 0;
}
figure.fun img {
    width: 100%;
}
/* use a wrapper to do the responsive trick for video embeds */
figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
figure.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Extend bootstrap cards with a bit of spacing */
.card {
    margin: 0 0 30px;
}



/*
    Trumps
*/

.line-bg {
    background: url('../images/lines.png') bottom right no-repeat;
    background-size: 350px 350px;
    position: relative;
    z-index: 8;
}



/*
    Media Queries
*/

/* Medium */
@media screen and (min-width: 720px) {

    h1 {
        font-size: 64px;
        padding-top: 48px;
    }

    h2 {
        font-size: 32px;
    }

    header.main {
        padding: 56px 56px 80px;
    }

    header.main hgroup {
        padding: 48px 0;
    }

    header.main section.button-group {
        padding: 16px 0 48px;
    }

    article.block {
        padding: 72px 48px;
    }

}

/* Large */
@media screen and (min-width: 1140px) {

    .wrapper {
        width: 85%;
    }

    h1 {
        font-size: 88px;
    }

    h2 {
        font-size: 42px;
    }

    p.large {
        font-size: 33px;
    }

    header.main {
        padding: 72px 88px 96px 72px;
    }

    header.main hgroup {
        padding: 72px 0 56px;
    }

    article.block {
        padding: 124px 56px;
    }

    article.block + article.block {
        padding: 56px 56px 124px;
    }

    .line-bg {
        padding: 116px 0 16px 48px;
        text-shadow: 1px 1px 1px white;

    }

    figure.fun {
        width: 44%;
        position: absolute;
        top: 11%;
        left: -96px;
    }

}


/*
    Extra large 
*/
@media screen and (min-width: 1440px) {
    
    .wrapper {
        max-width: 1280px;
    }

}
